# Default values for audit-logs charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Vector image used for audit-logs aggregator.
image: 'registry.redhat.io/openshift-logging/vector-rhel8:v0.21'

# General annotations for all deployed resources.
annotations: {}

# Number of pod replicas in stateful set. It should be equal to number of cluster AZs.
replicas: 3

# Configuration used to define persistent volumes for Vector buffer.
persistence:
  enabled: true
  storageClassName: ""
  size: 1Gi

# Customer configuration for Vector.
customConfig:
  # We have to set it because default "data_dir" is different from mount path defined by enabled "persistence".
  data_dir: /aggregator-data-dir
  sources:
    http_server:
      type: "http"
      address: "0.0.0.0:8888"
      decoding:
        codec: "json"
      tls:
        enabled: true
        ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt"
        crt_file: "/etc/aggregator/tls/tls.crt"
        key_file: "/etc/aggregator/tls/tls.key"
  sinks:
    aws_cloudwatch_logs:
      type: "aws_cloudwatch_logs"
      region: "us-east-1"
      group_name: ""
      create_missing_group: false
      create_missing_stream: true
      inputs: ["http_server"]
      stream_name: '{{ "{{" }} .tenant_id {{ "}}" }}'
      compression: none
      healthcheck:
        enabled: true
      batch:
        timeout_secs: 60
        # 4.5M Bytes
        max_size: 4718592
      buffer:
        type: disk
        # 900M Bytes (disk is 1Gi)
        max_size: 943718400
        when_full: block
      encoding:
        codec: "json"

# Secrets used to set environment variables for Vector pod.
secrets:
  aws_region: "us-east-1"
  aws_role_arn: ""

nodeSelector: {}

tolerations: []

affinity: {}
