# shellcheck shell=bash

GITROOT="$(git rev-parse --show-toplevel)"
export GITROOT
export PATH="$GITROOT/scripts:$GITROOT/bin:$PATH"

if [[ -f ".env.local" ]]; then
    # shellcheck source=/dev/null
    source ".env.local"
fi
