openapi: 3.0.0
info:
  title: Red Hat Advanced Cluster Security Service Fleet Manager Admin API
  description: Red Hat Advanced Cluster Security (RHACS) Service Fleet Manager Admin APIs that can be used by RHACS Managed Service Operations Team.
  version: 0.0.3
servers:
  - url: https://api.openshift.com
    description: Main (production) server
  - url: https://api.stage.openshift.com
    description: Staging server
  - url: http://localhost:8000
    description: localhost
  - url: /
    description: current domain
tags:
  - name: Admin APIs
    description: ""

paths:
  '/api/rhacs/v1/admin/centrals':
    post:
      operationId: createCentral
      description: |
        Creates a new Central that is owned by the user and organisation authenticated for the request.
        Each Central has a single owner organisation and a single owner user.
        This API allows providing custom resource settings for the new Central instance.
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      requestBody:
        description: Central data
        content:
          application/json:
            schema:
              $ref: "fleet-manager.yaml#/components/schemas/CentralRequestPayload"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/CentralRequest"
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/Error"
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/Error"
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/Error"
          description: User forbidden either because the user is not authorized to access the service or because the maximum number of instances that can be created by this user has been reached.
        "404":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/Error"
          description: The requested resource doesn't exist
        "409":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/Error"
          description: A conflict has been detected in the creation of this resource
        "500":
          content:
            application/json:
              schema:
                $ref: "fleet-manager.yaml#/components/schemas/Error"
          description: An unexpected error occurred while creating the Central request
      security:
        - Bearer: []
      summary: Creates a Central request
    get:
      summary: Returns a list of Centrals
      operationId: getCentrals
      security:
        - Bearer: []
      responses:
        "200":
          description: Return a list of Central instances. This endpoint will return all Central instances that are stored in the database and the are not filtered based on user ids or org ids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CentralList'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
      parameters:
        - $ref: 'fleet-manager.yaml#/components/parameters/page'
        - $ref: 'fleet-manager.yaml#/components/parameters/size'
        - $ref: 'fleet-manager.yaml#/components/parameters/orderBy'
        - $ref: 'fleet-manager.yaml#/components/parameters/search'
  '/api/rhacs/v1/admin/centrals/{id}':
    get:
      summary: Return the details of Central instance by ID
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      security:
        - Bearer: []
      operationId: getCentralById
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Central'
          description: Central found by ID
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
    delete:
      summary: Delete a Central by ID
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      security:
        - Bearer: [ ]
      operationId: deleteCentralById
      responses:
        "200":
          description: Central updated by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Central'
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
  '/api/rhacs/v1/admin/centrals/{id}/expired-at':
    patch:
      summary: Update `expired_at` central property
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
        - in: query
          name: timestamp
          schema:
            type: string
          required: false
        - in: query
          name: reason
          schema:
            type: string
            format: date-time
          required: true
      security:
        - Bearer: [ ]
      operationId: updateCentralExpiredAtById
      responses:
        "200":
          description: Central updated by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Central'
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
  '/api/rhacs/v1/admin/centrals/{id}/name':
    patch:
      summary: Update `name` central property
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      requestBody:
        description: Options for patch operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CentralUpdateNameRequest'
        required: true
      security:
        - Bearer: [ ]
      operationId: updateCentralNameById
      responses:
        "200":
          description: Central updated by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Central'
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
  '/api/rhacs/v1/admin/centrals/{id}/rotate-secrets':
    post:
      operationId: centralRotateSecrets
      summary: Rotate RHSSO client or Secret Backup of a central tenant
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      requestBody:
        description: Options for secret rotation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CentralRotateSecretsRequest'
        required: true
      responses:
        "200":
          description: Secret successfully rotated
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID or dynamic clients are not configured
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
  '/api/rhacs/v1/admin/centrals/{id}/restore':
    post:
      summary: Restore a central tenant that was already deleted
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      responses:
        "201":
          description: Requests to restore accepted
        "400":
          description: Validation error occured
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'

  '/api/rhacs/v1/admin/centrals/db/{id}':
    delete:
      summary: Delete a Central directly in the Database by ID
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      security:
        - Bearer: [ ]
      operationId: deleteDbCentralById
      responses:
        "200":
          description: Central deleted by ID
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'

  '/api/rhacs/v1/admin/centrals/{id}/traits':
    get:
      summary: Returns a list of central traits.
      operationId: getCentralTraits
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: Central traits
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'

  '/api/rhacs/v1/admin/centrals/{id}/traits/{trait}':
    get:
      summary: Returns central trait status.
      operationId: getCentralTrait
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
        - $ref: "#/components/parameters/trait"
      responses:
        "200":
          description: Trait exists.
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID or no such trait.
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
    put:
      summary: Adds a trait to a central.
      operationId: putCentralTrait
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
        - $ref: "#/components/parameters/trait"
      responses:
        "200":
          description: Trait has been added or already exists.
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
    delete:
      summary: Deletes the central trait.
      operationId: deleteCentralTrait
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
        - $ref: "#/components/parameters/trait"
      responses:
        "200":
          description: Central trait deleted
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "403":
          description: User is not authorised to access the service
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "404":
          description: No Central found with the specified ID
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
components:
  schemas:
    Central:
      allOf:
        - $ref: 'fleet-manager.yaml#/components/schemas/ObjectReference'
        - required:
          - multi_az
          - central_operator_upgrading
          - central_upgrading
        - type: object
          properties:
            status:
              description: "Values: [accepted, preparing, provisioning, ready, failed, deprovision, deleting] "
              type: string
            cloud_provider:
              description: "Name of Cloud used to deploy. For example AWS"
              type: string
            multi_az:
              type: boolean
            region:
              description: "Values will be regions of specific cloud provider. For example: us-east-1 for AWS"
              type: string
            owner:
              type: string
            name:
              type: string
            host:
              type: string
            created_at:
              format: date-time
              type: string
            updated_at:
              format: date-time
              type: string
            expired_at:
              format: date-time
              type: string
              nullable: true
            failed_reason:
              type: string
            organisation_id:
              type: string
            subscription_id:
              type: string
            owner_account_id:
              type: string
            account_number:
              type: string
            instance_type:
              type: string
            quota_type:
              type: string
            routes:
              type: array
              items:
                type: object
                properties:
                  domain:
                    type: string
                  router:
                    type: string
            routes_created:
              type: boolean
            cluster_id:
              type: string
            namespace:
              type: string
            traits:
              type: array
              items:
                type: string
    CentralList:
      allOf:
        - $ref: "fleet-manager.yaml#/components/schemas/List"
        - type: object
          properties:
            items:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/Central"

    CentralRotateSecretsRequest:
      type: object
      properties:
        rotate_rhsso_client_credentials:
          type: boolean
        reset_secret_backup:
          type: boolean

    CentralUpdateNameRequest:
      type: object
      required:
        - name
        - reason
      properties:
        name:
          type: string
        reason:
          type: string
  parameters:
    trait:
      name: trait
      description: A central trait
      schema:
        type: string
      in: path
      required: true

  securitySchemes:
    Bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
