openapi: 3.0.0 # need this as first line to allow some IDEs to know this is an openapi document.
# Warning: This file should only be used if the endpoints are not yet ready to be public, or not suitable for public consumption (like the data plane endpoints).
# In most cases, you shouldn't need to add the endpoints here.
# Only add endpoints here when it is an explicit requirement, or if you know what you are doing.
# There should be no duplicated endpoints or schemas in these 2 files. They should only defined in one of them.
info:
  title: Red Hat Advanced Cluster Security Service Fleet Manager
  version: 1.4.0
  description: Red Hat Advanced Cluster Security (RHACS) Service Fleet Manager APIs that are used by internal services e.g fleetshard operators.
servers:
  - url: https://api.openshift.com
    description: Main (production) server
  - url: https://api.stage.openshift.com
    description: Staging server
  - url: http://localhost:8000
    description: localhost
  - url: /
    description: current domain
tags:
  - name: Agent Clusters
    description: ""

paths:
  # Endpoints for data plane communications
  '/api/rhacs/v1/agent-clusters/{id}/status':
    put:
      tags:
        - Agent Clusters
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      requestBody:
        description: Cluster status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest'
        required: true
      responses:
        '200':
          description: Cluster status is updated
        '400':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                404Example:
                  $ref: 'fleet-manager.yaml#/components/examples/404Example'
          # This is deliberate to hide the endpoints for unauthorised users
          description: Auth token is not valid.
      security:
        - Bearer: [ ]
      operationId: updateAgentClusterStatus
      summary: Update the status of an agent cluster

  '/api/rhacs/v1/agent-clusters/{id}/centrals/status':
    put:
      tags:
        - Agent Clusters
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      requestBody:
        description: Centrals status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneCentralStatusUpdateRequest'
        required: true
      responses:
        '200':
          description: Status is updated for Centrals
        '400':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                404Example:
                  $ref: 'fleet-manager.yaml#/components/examples/404Example'
          # This is deliberate to hide the endpoints for unauthorised users
          description: Auth token is not valid.
      security:
        - Bearer: [ ]
      operationId: updateCentralClusterStatus
      summary: Update the status of Centrals on an agent cluster

  '/api/rhacs/v1/agent-clusters/{id}/centrals':
    get:
      tags:
        - Agent Clusters
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      responses:
        '200':
          description: The list of the ManagedCentrals for the specified agent cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCentralList'
        '400':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                404Example:
                  $ref: 'fleet-manager.yaml#/components/examples/404Example'
          # This is deliberate to hide the endpoints for unauthorised users
          description: Auth token is not valid.
      security:
        - Bearer: [ ]
      operationId: getCentrals
      summary: Get the list of ManagedaCentrals for the specified agent cluster

  '/api/rhacs/v1/agent-clusters/{id}':
    get:
      tags:
        - Agent Clusters
      parameters:
        - $ref: "fleet-manager.yaml#/components/parameters/id"
      responses:
        '200':
          description: The Data Plane Cluster Agent configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneClusterAgentConfig'
        '400':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                404Example:
                  $ref: 'fleet-manager.yaml#/components/examples/404Example'
          # This is deliberate to hide the endpoints for unauthorised users
          description: Auth token is not valid.
      security:
        - Bearer: [ ]
      operationId: getDataPlaneClusterAgentConfig
      summary: Get the data plane cluster agent configuration

components:
  schemas:

    ListReference:
      required:
        - kind
        - items
      type: object
      properties:
        kind:
          type: string

    PrivateObjectReference:
      type: object
      properties:
        id:
          type: string
        kind:
          type: string

    ResourceList:
      type: object
      properties:
        cpu:
          type: string
        memory:
          type: string

    ResourceRequirements:
      type: object
      properties:
        requests:
          $ref: "#/components/schemas/ResourceList"
        limits:
          $ref: "#/components/schemas/ResourceList"

    ManagedCentralVersions:
      type: object
      properties:
        central:
          type: string
        centralOperator:
          type: string

    ManagedCentral:
      allOf:
        - $ref: "#/components/schemas/PrivateObjectReference"
        - type: object
          properties:
            metadata:
              type: object
              properties:
                name:
                  type: string
                namespace:
                  type: string
                annotations:
                  type: object
                  required:
                    - mas/placementId
                    - mas/id
                  properties:
                    mas/id:
                      type: string
                    mas/placementId:
                      type: string
                deletionTimestamp:
                      type: string

            spec:
              type: object
              properties:   
                owners:
                  type: array
                  items:
                    type: string
                endpoint:
                  type: object
                  properties:
                    host:
                      type: string
                    tls:
                      type: object
                      nullable: true
                      properties:
                        cert:
                          type: string
                        key:
                          type: string
                versions:
                  $ref: "#/components/schemas/ManagedCentralVersions"
                central:
                  type: object
                  properties:
                    resources:
                      $ref: "#/components/schemas/ResourceRequirements"
                scanner:
                  type: object
                  properties:
                    analyzer:
                      type: object
                      properties:
                        scaling:
                          type: object
                          properties:
                            autoScaling:
                              type: string
                            replicas:
                              type: integer
                              format: int32
                              minimum: 1
                            minReplicas:
                              type: integer
                              format: int32
                              minimum: 1
                            maxReplicas:
                              type: integer
                              format: int32
                              minimum: 1
                        resources:
                          $ref: "#/components/schemas/ResourceRequirements"
                    db:
                      type: object
                      properties:
                        host:
                          type: string

    ManagedCentralList:
      description: >-
        A list of ManagedCentral
      allOf:
        - $ref: "#/components/schemas/ListReference"
        - type: object
          example:
            kind: "ManagedCentralList"
            items:
              $ref: '#/components/examples/ManagedCentralExample'
          properties:
            items:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/ManagedCentral"

    DataPlaneClusterUpdateStatusRequest:
      # TODO are there any fields that should be required?
      # TODO are there any fields that should be nullable? (this is, a pointer in the resulting generated Go code)
      description: "Schema for the request to update a data plane cluster's status"
      type: object
      properties:
        conditions:
          description: "The cluster data plane conditions"
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              reason:
                type: string
              message:
                type: string
              status:
                type: string
        centralOperator:
          type: array
          items:
            type: object
            properties:
              ready:
                type: boolean
              version:
                type: string
              centralVersions:
                type: array
                items:
                  type: string
            required:
            - ready
            - version
    DataPlaneCentralStatus:
      description: "Schema of the status object for a Central"
      type: object
      properties:
        conditions:
          description: "The status conditions of a Central"
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              reason:
                type: string
              message:
                type: string
              status:
                type: string
        versions:
          description: "Version information related to a Central"
          type: object
          properties:
            central:
              type: string
            centralOperator:
              type: string
        routes:
          description: "Routes created for a Central"
          type: array
          nullable: true
          items:
            type: object
            properties:
              name:
                type: string
              prefix:
                type: string
              router:
                type: string
      example:
        $ref: '#/components/examples/DataPlaneCentralStatusRequestExample'

    DataPlaneCentralStatusUpdateRequest:
      description: "Schema for the request to update the statuses of Central clusters from data plane"
      type: object
      additionalProperties:
        $ref: '#/components/schemas/DataPlaneCentralStatus'

    DataplaneClusterAgentConfig:
      description: "Configuration for the data plane cluster agent"
      type: object
      properties:
        spec:
          description: "Data plane cluster agent spec"
          type: object
          properties:
            observability:
              description: "Observability configurations"
              type: object
              properties:
                accessToken:
                  type: string
                  nullable: true
                channel:
                  type: string
                repository:
                  type: string
                tag:
                  type: string

    WatchEvent:
      required:
        - type
      type: object
      properties:
        type:
          type: string
        error:
          nullable: true
          $ref: "fleet-manager.yaml#/components/schemas/Error"
        object:
          type: object
          nullable: true

  securitySchemes:
    Bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http

  examples:
    ManagedCentralExample:
      value:
        id: "1rfpsqbvq1em2u9u0z54ymjcwac"
        kind: "ManagedCentral"
        metadata:
          name: "example-central"
          namespace: "example-central-1rfpsqbvq1em2u9u0z54ymjcwac"
          annotations:
            mas/id: "1rfpsqbvq1em2u9u0z54ymjcwac"
            mas/placementId: ""
          deletionTimestamp: "2022-06-01T11:04:09Z"
        spec:
          owners: [
            "central-owner1"
          ]
          endpoint:
            host: "example-central--rfpsqbvq-em-u-u-z--ymjcwac.example.central.com"
            tls:
              cert: ""
              key: ""
          versions:
            central: 2.7.0
            centralOperator: 0.21.2
          central:
            resources:
              requests:
                cpu: 250m
                memory: 250Mi
              limtis:
                cpu: 1000m
                memory: 4Gi
          scanner:
            analyzer:
              scaling:
                autoScaling: enabled
                replicas: 1
                minReplicas: 1
                maxReplicas: 3
              resources:
                requests:
                  cpu: 250m
                  memory: 100Mi
                limtis:
                  cpu: 500m
                  memory: 2500Mi             
          db:
            host: dbhost.rhacs-psql-instance 
    DataPlaneCentralStatusRequestExample:
      value:
        conditions:
          - type: Ready
            reason: CentralInstanceReady
            message: installing
            status: "False"
            lastTransitionTime: "2018-01-01T00:00:00Z"
        versions:
          central: 2.4.1
          centralOperator: 0.21.2
    400InvalidIdExample:
      value:
        id: "21"
        kind: "Error"
        href: "/api/rhacs/v1/errors/21"
        code: "RHACS-MGMT-21"
        reason: "Bad request"
        operation_id: "1lWDGuybIrEnxrAem724gqkkiDv"
