apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudwatch-exporter
  namespace: {{ include "cloudwatch.namespace" . }}
  labels:
    app: cloudwatch-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudwatch-exporter
  template:
    metadata:
      annotations:
        rhacs.redhat.com/cluster-name: {{ .Values.clusterName | quote }}
        rhacs.redhat.com/environment: {{ .Values.environment | quote }}
      labels:
        app: cloudwatch-exporter
    spec:
      containers:
        - name: cloudwatch-exporter
          image: {{ .Values.image | quote }}
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          args:
            - "--config.file=/tmp/config.yml"
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: rhacs-cloudwatch-exporter
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: rhacs-cloudwatch-exporter
                  key: AWS_SECRET_ACCESS_KEY
          volumeMounts:
            - mountPath: /tmp
              name: config
          ports:
            - name: monitoring
              containerPort: 5000
      volumes:
        - name: config
          configMap:
            name: cloudwatch-exporter-config
