apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudwatch-exporter-config
  namespace: {{ include "cloudwatch.namespace" . }}
data:
  config.yml: |-
    apiVersion: v1alpha1
    discovery:
      jobs:
        - type: rds
          regions:
            - eu-west-1
            - us-east-1
          searchTags:
            - key: DataplaneClusterName
              value: ^{{ .Values.clusterName }}$
          dimensionNameRequirements:
            - DBInstanceIdentifier
          statistics:
            - Average
            - Maximum
            - Minimum
            - p90
            - p95
            - p99
          metrics:
            - name: DatabaseConnections
            - name: ServerlessDatabaseCapacity
            - name: ACUUtilization
            - name: FreeableMemory
            - name: CPUUtilization
            - name: ReadLatency
            - name: ReadThroughput
            - name: WriteLatency
            - name: WriteThroughput
            - name: NetworkThroughput
            - name: AuroraReplicaLag
            - name: MaximumUsedTransactionIDs
            - name: TransactionLogsDiskUsage
            - name: Deadlocks
            - name: BufferCacheHitRatio
