{{- if .Values.emailsender.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailsender
  namespace: {{ .Release.Namespace }}
  labels:
    app: emailsender
spec:
  replicas: {{ .Values.emailsender.replicas }}
  selector:
    matchLabels:
      app: emailsender
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: emailsender
    spec:
      serviceAccountName: emailsender
      containers:
        - name: emailsender
          image: "{{ .Values.emailsender.image.repo }}:{{ .Values.emailsender.image.tag }}"
          imagePullPolicy: IfNotPresent
          command:
            - /usr/local/bin/emailsender
          env:
            - name: CLUSTER_ID
              value: {{ .Values.emailsender.clusterId }}
            - name: CLUSTER_NAME
              value: {{ .Values.emailsender.clusterName }}
            - name: ENVIRONMENT
              value: {{ .Values.emailsender.environment }}
            - name: AUTH_CONFIG_FROM_SERVICE_ACCOUNT
              value: {{ .Values.emailsender.authConfigFromServiceAccount }}
          ports:
            - name: monitoring
              containerPort: 9090
            - name: server
              containerPort: 8080
          resources:
            limits:
              memory: {{ .Values.emailsender.resources.limits.memory | quote }}
            requests:
              cpu: {{ .Values.emailsender.resources.requests.cpu | quote }}
              memory: {{ .Values.emailsender.resources.requests.memory | quote }}
{{- end }}
