{{- if .Values.emailsender.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailsender
  namespace: {{ .Release.Namespace }}
  labels:
    app: emailsender
spec:
  replicas: {{ .Values.emailsender.replicas }}
  selector:
    matchLabels:
      app: emailsender
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: emailsender
    spec:
      serviceAccountName: emailsender
      containers:
        - name: emailsender
          image: "{{ .Values.emailsender.image.repo }}:{{ .Values.emailsender.image.tag }}"
          imagePullPolicy: IfNotPresent
          command:
            - /acscs/emailsender
          env:
            - name: CLUSTER_ID
              value: {{ .Values.emailsender.clusterId }}
            - name: CLUSTER_NAME
              value: {{ .Values.emailsender.clusterName }}
            - name: ENVIRONMENT
              value: {{ .Values.emailsender.environment }}
            - name: HTTPS_CERT_FILE
              value: "/var/run/certs/tls.crt"
            - name: HTTPS_KEY_FILE
              value: "/var/run/certs/tls.key"
          {{- if .Values.emailsender.authConfigFromKubernetes }}
            - name: AUTH_CONFIG_FROM_KUBERNETES
              value: "true"
          {{- end }}
          {{- if .Values.emailsender.enableHTTPS }}
            - name: ENABLE_HTTPS
              value: "true"
          {{- end }}
            # Reusing fleetshardSync.aws.region here since the Values file defines multiple
            # aws region for different components and the emailsender should always use the same as FS
            - name: AWS_REGION
              value: {{ .Values.fleetshardSync.aws.region }}
            - name: AWS_ROLE_ARN
              valueFrom:
                secretKeyRef:
                  name: emailsender-parameters
                  key: "aws-role-arn"
          ports:
            - name: monitoring
              containerPort: 9090
            - name: server
              containerPort: 8080
          resources:
            limits:
              memory: {{ .Values.emailsender.resources.limits.memory | quote }}
            requests:
              cpu: {{ .Values.emailsender.resources.requests.cpu | quote }}
              memory: {{ .Values.emailsender.resources.requests.memory | quote }}
        {{- if .Values.emailsender.enableHTTPS }}
          volumeMounts:
          - name: emailsender-tls
            mountPath: /var/run/certs
            readOnly: true
        {{- end }}
    {{- if .Values.emailsender.enableHTTPS }}
      volumes:
        - name: emailsender-tls
          secret:
            secretName: emailsender-tls # pragma: allowlist secret
    {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: emailsender
  name: emailsender
  namespace: {{ .Release.Namespace }}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: emailsender-tls
spec:
  ports:
  - name: 443-8080
    port: 443
    protocol: TCP
    targetPort: 8080
  selector:
    app: emailsender
  type: ClusterIP
{{- end }}
