apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: fleetshard-sync-ext-secret
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    name: {{ .Values.secretStore.aws.secretsManagerSecretStoreName }}
    kind: ClusterSecretStore
  target:
    name: fleetshard-sync
    creationPolicy: Owner
  data:
    - secretKey: rhsso-service-account-client-id # pragma: allowlist secret
      remoteRef:
        key: "fleetshard-sync"
        property: "rhsso_service_account_client_id"
    - secretKey: rhsso-service-account-client-secret # pragma: allowlist secret
      remoteRef:
        key: "fleetshard-sync"
        property: "rhsso_service_account_client_secret"
    - secretKey: telemetry-storage-key # pragma: allowlist secret
      remoteRef:
        key: "fleetshard-sync"
        property: "telemetry_storage_key"
    {{- if not .Values.fleetshardSync.aws.enableTokenAuth }}
    - secretKey: aws-access-key-id # pragma: allowlist secret
      remoteRef:
        key: "fleetshard-sync"
        property: "aws_access_key_id"
    - secretKey: aws-secret-access-key # pragma: allowlist secret
      remoteRef:
        key: "fleetshard-sync"
        property: "aws_secret_access_key"
    {{- end }}
