apiVersion: logging.openshift.io/v1
kind: ClusterLogging
metadata:
  name: instance
  namespace: openshift-logging
  annotations:
    # Add custom resource last.
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
spec:
  managementState: "Managed"
  collection:
    {{- if .Values.tolerations }}
    tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
    nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
    {{- end }}
    {{- if .Values.resources }}
    resources: {{ toYaml .Values.resources | nindent 8 }}
    {{- end }}
    type: "fluentd"
    fluentd: {}
