rhacsOperators:
  crdUrls:
    - https://raw.githubusercontent.com/stackrox/stackrox/4.4.2/operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
    - https://raw.githubusercontent.com/stackrox/stackrox/4.4.2/operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operators:
    - deploymentName: "rhacs-operator-dev"
      image: "quay.io/rhacs-eng/stackrox-operator:4.4.2"
      centralLabelSelector: "rhacs.redhat.com/version-selector=dev"
      securedClusterReconcilerEnabled: false
verticalPodAutoscaling:
  recommenders: []
tenantResources:
  default: |
    labels:
      app.kubernetes.io/managed-by: rhacs-fleetshard
      app.kubernetes.io/instance: "{{ .Name }}"
      rhacs.redhat.com/org-id: "{{ .OrganizationID }}"
      rhacs.redhat.com/tenant: "{{ .ID }}"
      rhacs.redhat.com/instance-type: "{{ .InstanceType }}"
    annotations:
      rhacs.redhat.com/org-name: "{{ .OrganizationName }}"
    secureTenantNetwork: true
    centralRdsCidrBlock: "10.1.0.0/16"
    verticalPodAutoscalers:
      central:
        enabled: true
        updatePolicy:
          updateMode: "Auto"
          minReplicas: 1
        resourcePolicy:
          containerPolicies:
            - containerName: "*"
              minAllowed:
                cpu: "100m"
                memory: "50Mi"
              maxAllowed:
                cpu: "1"
                memory: "2Gi"
centrals:
  overrides:
    - instanceIds:
        - "*"
      patch: |
        # Set label for all centrals to 4.4.2
        metadata:
          labels:
            rhacs.redhat.com/version-selector: "4.4.2"
        # Adjust centrals for development environment
        spec:
          monitoring:
            openshift:
              enabled: false
          central:
            db:
              resources:
                limits:
                  cpu: null
                  memory: 1Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
            resources:
              limits:
                cpu: null
                memory: 1Gi
              requests:
                cpu: 100m
                memory: 100Mi
          scanner:
            analyzer:
              resources:
                limits:
                  cpu: null
                  memory: 2Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
              scaling:
                autoScaling: "Disabled"
                replicas: 1
            db:
              resources:
                limits:
                  cpu: null
                  memory: 3Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
