rhacsOperators:
  crdUrls:
    - https://raw.githubusercontent.com/stackrox/stackrox/4.3.4/operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
    - https://raw.githubusercontent.com/stackrox/stackrox/4.3.4/operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operators:
    - deploymentName: "rhacs-operator-4.3.4"
      image: "quay.io/rhacs-eng/stackrox-operator:4.3.4"
      centralLabelSelector: "rhacs.redhat.com/version-selector=4.3.4"
      securedClusterReconcilerEnabled: false

centrals:
  overrides:
    - instanceIds:
        - "*"
      patch: |
        # Set label for all centrals to 4.3.4
        metadata:
          labels:
            rhacs.redhat.com/version-selector: "4.3.4"
        # Adjust centrals for development environment
        spec:
          monitoring:
            openshift:
              enabled: false
          central:
            db:
              resources:
                limits:
                  cpu: 500m
                  memory: 500Mi
                requests:
                  cpu: 100m
                  memory: 100Mi
            resources:
              limits:
                cpu: 500m
                memory: 500Mi
              requests:
                cpu: 100m
                memory: 100Mi
          scanner:
            analyzer:
              resources:
                limits:
                  cpu: 1000m
                  memory: 1000Mi
                requests:
                  cpu: 100m
                  memory: 100Mi
              scaling:
                autoScaling: "Disabled"
                replicas: 1
            db:
              resources:
                limits:
                  cpu: 10000m
                  memory: 20Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
