applications:

  # Install the RHACS CRDs (Central and SecuredCluster)
  - metadata:
      name: rhacs-crds
    spec:
      destination:
        namespace: rhacs
        server: https://kubernetes.default.svc
      project: default
      source:
        directory:
          include: '{platform.stackrox.io_centrals.yaml,platform.stackrox.io_securedclusters.yaml}'
        path: operator/bundle/manifests
        repoURL: https://github.com/stackrox/stackrox
        targetRevision: 4.6.2
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - ServerSideApply=true

  # Install the rhacs-operators
  - metadata:
      name: rhacs-operators
    spec:
      ignoreDifferences:
        - kind: ServiceAccount
          jsonPointers:
            - /imagePullSecrets
      destination:
        namespace: rhacs
        server: https://kubernetes.default.svc
      project: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
      source:
        path: rhacs-operator-legacy
        repoURL: https://github.com/stackrox/acscs-manifests
        targetRevision: HEAD
        helm:
          valuesObject:
            operator:
              images:
                - deploymentName: "rhacs-operator-4.9.1"
                  image: "registry.redhat.io/advanced-cluster-security/rhacs-rhel8-operator@sha256:68d9c77d33b50fde89121bc62ffb8a2fe8b43f50ebf0ec964938d33ffef17874"
                  centralLabelSelector: "rhacs.redhat.com/version-selector=dev"
                  securedClusterLabelSelector: "rhacs.redhat.com/selector=dev"

tenantResources:
  default: |
    rolloutGroup: "dev"

    centralResources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 100Mi

    centralDbResources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 100Mi

    scannerResources:
      limits:
        memory: 2Gi
      requests:
        cpu: 100m
        memory: 100Mi

    scannerDbResources:
      limits:
        memory: 3Gi
      requests:
        cpu: 100m
        memory: 100Mi

    centralRdsCidrBlock: "10.1.0.0/16"
