rhacsOperators:
  crdUrls:
    - https://raw.githubusercontent.com/stackrox/stackrox/4.3.4/operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
    - https://raw.githubusercontent.com/stackrox/stackrox/4.3.4/operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operators:
    - deploymentName: "rhacs-operator-4.3.4"
      image: "quay.io/rhacs-eng/stackrox-operator:4.3.4"
      centralLabelSelector: "rhacs.redhat.com/version-selector=4.3.4"
      securedClusterReconcilerEnabled: false
tenantResources:
  default: |
    labels:
      app.kubernetes.io/managed-by: rhacs-fleetshard
      app.kubernetes.io/instance: { { .Name } }
      rhacs.redhat.com/org-id: { { .OrganizationID } }
      rhacs.redhat.com/tenant: { { .ID } }
      rhacs.redhat.com/instance-type: { { .InstanceType } }
    annotations:
      rhacs.redhat.com/org-name: { { .OrganizationName } }
    secureTenantNetwork: false
    centralRdsCidrBlock: "10.1.0.0/16"
    egressProxy:
      image: "registry.redhat.io/openshift4/ose-egress-http-proxy:v4.14"
      replicas: 2
      resources:
      requests:
        cpu: 100m
        memory: 275Mi
      limits:
        memory: 275Mi
centrals:
  overrides:
    - instanceIds:
        - "*"
      patch: |
        # Set label for all centrals to 4.3.4
        metadata:
          labels:
            rhacs.redhat.com/version-selector: "4.3.4"
        # Adjust centrals for development environment
        spec:
          monitoring:
            openshift:
              enabled: false
          central:
            db:
              resources:
                limits:
                  cpu: null
                  memory: 1Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
            resources:
              limits:
                cpu: null
                memory: 1Gi
              requests:
                cpu: 100m
                memory: 100Mi
          scanner:
            analyzer:
              resources:
                limits:
                  cpu: null
                  memory: 2Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
              scaling:
                autoScaling: "Disabled"
                replicas: 1
            db:
              resources:
                limits:
                  cpu: null
                  memory: 3Gi
                requests:
                  cpu: 100m
                  memory: 100Mi
