# Default values for observability.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Version of observability operator
# https://github.com/redhat-developer/observability-operator/releases
observabilityOperatorVersion: "v4.2.1"

github:
  repository: "https://api.github.com/repos/stackrox/rhacs-observability-resources/contents"
  tag: "master"

clusterName: ""
resyncPeriod: "1h"
retention: "45d"

# Credentials for Observatorium https://observatorium.io/ instance
observatorium:
  tenant: "rhacs"
  authType: "redhat"
  redHatSsoAuthServerUrl: "https://sso.redhat.com/auth/"
  redHatSsoRealm: "redhat-external"
  gateway: ""

deadMansSwitch:
  # Webhook URL of the dead man's switch provider.
  url: ""


observabilityOperator:
  resources:
    requests:
      cpu: "500m"
      memory: "2048Mi"
    limits:
      memory: "2048Mi"

prometheus:
  resources:
    requests:
      cpu: 1500m
      memory: 20Gi
      storage: 250Gi
    limits:
      memory: 20Gi

prometheusOperator:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      memory: 256Mi

grafana:
  resources:
    requests:
      cpu: 500m
      memory: 1024Mi
    limits:
      memory: 1024Mi

grafanaOperator:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      memory: 256Mi

alertManager:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
      storage: 20Gi
    limits:
      memory: 256Mi

affinity: {}

tolerations: []

# observability operator doesn't expose nodeSelector
