# Default values for rhacs-terraform.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

fleetshardSync:
  image: "quay.io/app-sre/acs-fleet-manager:59142fe"
  # Can be either OCM, RHSSO, STATIC_TOKEN. When choosing RHSSO, make sure the clientId/secret is set. By default, uses RHSSO.
  authType: "RHSSO"
  # OCM refresh token, only required in combination with authType=OCM.
  ocmToken: ""
  fleetManagerEndpoint: ""
  clusterId: ""
  clusterName: ""
  environment: ""
  # Flag controlling whether tenant's sso.redhat.com auth provider will be initialised by fleetshard-sync.
  # Currently this functionality is supported only when fleetshard-sync is deployed in the same k8s cluster as tenant.
  createAuthProvider: true
  # Static token, only required in combination with authType=STATIC_TOKEN. A sample static token can be found
  # within Bitwarden (ACS Fleet* static token).
  staticToken: ""
  # Red Hat SSO secrets, only required in combination with authType=RHSSO. The client credentials can be found within
  # Bitwarden (ACS RH SSO Fleet* serviceaccount).
  redHatSSO:
    clientId: ""
    clientSecret: ""
    endpoint: "https://sso.redhat.com"
    realm: "redhat-external"
  egressProxy:
    image: "registry.redhat.io/openshift4/ose-egress-http-proxy:v4.11.0"
  managedDB:
    enabled: true
    subnetGroup: ""
    securityGroup: ""
    performanceInsights: true
  aws:
    region: "us-east-1" # TODO(2023-05-01): Remove the default value here as we now set it explicitly
    roleARN: ""
    enableTokenAuth: true
    accessKeyId: ""
    secretAccessKey: ""
  telemetry:
    storage:
      endpoint: ""
      # API key to push telemetry data to a remote backend. Leaving it empty disables telemetry.
      key: ""
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

acsOperator:
  enabled: false
  channel: latest
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  version: v3.70.0
  # This setting specifies whether to use a upstream operator to test unreleased versions of ACS.
  upstream: false

# See available parameters in charts/cloudwatch/values.yaml
# - enabled flag is used to completely enable/disable cloudwatch sub-chart
cloudwatch:
  enabled: true
  aws:
    accessKeyId: ""
    secretAccessKey: ""
  clusterName: ""
  environment: ""

# See available parameters in charts/observability/values.yaml
# - enabled flag is used to completely enable/disable observability sub-chart
observability:
  enabled: true
  clusterName: ""
  github:
    accessToken: ""
    repository: ""
  observatorium:
    gateway: ""
    metricsClientId: ""
    metricsSecret: ""
  pagerduty:
    key: ""
  deadMansSwitch:
    url: ""

# See available parameters in charts/logging/values.yaml
# - enabled flag is used to completely enable/disable logging sub-chart
logging:
  enabled: true
  groupPrefix: ""
  aws:
    accessKeyId: ""
    secretAccessKey: ""

vector:
  role: "Aggregator"
  service:
    annotations:
      rhacs.redhat.com/cluster-name: ""
      rhacs.redhat.com/environment: ""
      service.beta.openshift.io/serving-cert-secret-name: rhacs-vector-tls-secret
  podLabels:
    app: rhacs-vector
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - rhacs-vector
          topologyKey: "topology.kubernetes.io/zone"
  persistence:
    enabled: true
    size: 300Mi
  replicas: 3
  extraVolumes:
    - name: service-tls-secret
      projected:
        sources:
          - secret:
              name: rhacs-vector-tls-secret
  extraVolumeMounts:
    - name: service-tls-secret
      mountPath: /etc/vector/tls
      readOnly: true
  customConfig:
    sources:
      http_server:
        type: "http_server"
        address: "0.0.0.0:8888"
        decoding:
          codec: "json"
        tls:
          enabled: true
          ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt"
          crt_file: "/etc/vector/tls/tls.crt"
          key_file: "/etc/vector/tls/tls.key"
    sinks:
      aws_s3:
        type: "aws_s3"
        region: ""
        bucket: ""
        key_prefix: '{{ "{{" }} .tenant_id {{ "}}" }}/%F/'
        inputs: ["http_server"]
        compression: none
        filename_extension: "json"
        healthcheck:
          enabled: false
        batch:
          timeout_secs: 60
          max_size: 2621440
        buffer:
          type: disk
          max_size: 283115520
          when_full: block
        encoding:
          codec: "json"
  fullnameOverride: rhacs-vector
  secrets:
    generic:
      aws_access_key_id: ""
      aws_secret_access_key: ""
  env:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: rhacs-vector
          key: aws_access_key_id
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: rhacs-vector
          key: aws_secret_access_key

securedCluster:
  enabled: true
  pullSecret: ""
  clusterName: ""
  centralEndpoint: ""
  admissionControl:
    serviceTLS:
      cert: ""
      key: ""
  ca:
    cert: ""
  collector:
    serviceTLS:
      cert: ""
      key: ""
  sensor:
    serviceTLS:
      cert: ""
      key: ""
