---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: admission-control-tls
  namespace: {{ include "secured-cluster.namespace" . }}
spec:
  secretStoreRef:
    name: {{ .Values.global.secretStore.aws.secretsManagerSecretStoreName }}
    kind: ClusterSecretStore
  target:
    name: admission-control-tls
    creationPolicy: Owner
    template:
      metadata:
        annotations:
          init-bundle.stackrox.io/name: {{ .Values.clusterName }}
  data:
    - secretKey: ca.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "ca_cert"
    - secretKey: admission-control-cert.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "admission_control_cert"
    - secretKey: admission-control-key.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "admission_control_key"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: collector-tls
  namespace: {{ include "secured-cluster.namespace" . }}
spec:
  secretStoreRef:
    name: {{ .Values.global.secretStore.aws.secretsManagerSecretStoreName }}
    kind: ClusterSecretStore
  target:
    name: collector-tls
    creationPolicy: Owner
    template:
      metadata:
        annotations:
          init-bundle.stackrox.io/name: {{ .Values.clusterName }}
  data:
    - secretKey: ca.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "ca_cert"
    - secretKey: collector-cert.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "collector_cert"
    - secretKey: collector-key.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "collector_key"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sensor-tls
  namespace: {{ include "secured-cluster.namespace" . }}
spec:
  secretStoreRef:
    name: {{ .Values.global.secretStore.aws.secretsManagerSecretStoreName }}
    kind: ClusterSecretStore
  target:
    name: sensor-tls
    creationPolicy: Owner
    template:
      metadata:
        annotations:
          init-bundle.stackrox.io/name: {{ .Values.clusterName }}
  data:
    - secretKey: ca.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "ca_cert"
    - secretKey: sensor-cert.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "sensor_cert"
    - secretKey: sensor-key.pem # pragma: allowlist secret
      remoteRef:
        key: "secured-cluster"
        property: "sensor_key"
{{- if and (ne .Values.pullSecret "") .Values.createPullSecret  }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Values.pullSecret }}
  namespace: {{ include "secured-cluster.namespace" . }}
spec:
  secretStoreRef:
    name: {{ .Values.global.secretStore.aws.secretsManagerSecretStoreName }}
    kind: ClusterSecretStore
    target:
      name: {{ .Values.pullSecret }}
      creationPolicy: Owner
    data:
      - secretKey: .dockerconfigjson # pragma: allowlist secret
        remoteRef:
          key: "quay/rhacs-eng"
          property: ".dockerconfigjson"
{{- end }}
