# Optional name of a secret that should be used by the SecuredCluster
# deployments to pull images
pullSecret: ""

clusterName: ""
centralEndpoint: ""
admissionControl:
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
  tolerations: []
  nodeSelector: {}
collector:
  resources:
    requests:
      memory: 50Mi
      cpu: 10m
compliance:
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
scanner:
  scannerComponent: null
  analyzer:
    tolerations: []
    nodeSelector: {}
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
    db:
      tolerations: []
      nodeSelector: {}
      resources:
        requests:
          memory: 100Mi
          cpu: 100m
sensor:
  resources:
    requests:
      memory: 100Mi
      cpu: 10m
  tolerations: []
  nodeSelector: {}
