# Optional name of a secret that should be used by the SecuredCluster
# deployments to pull images
pullSecret: ""

clusterName: ""
centralEndpoint: ""
admissionControl:
  resources:
    requests:
      memory: 150Mi
      cpu: 100m
    limits:
      memory: 150Mi
  tolerations: []
  nodeSelector: {}
collector:
  resources:
    requests:
      memory: 140Mi
      cpu: 10m
    limits:
      memory: 140Mi
compliance:
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 140Mi
nodeInventory:
  resources:
    requests:
      memory: 100Mi
      cpu: 20m
    limits:
      memory: 200Mi
scanner:
  scannerComponent: null
  analyzer:
    tolerations: []
    nodeSelector: {}
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
  db:
    tolerations: []
    nodeSelector: {}
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
sensor:
  resources:
    requests:
      memory: 3500Mi
      cpu: 10m
    limits:
      memory: 3500Mi
  tolerations: []
  nodeSelector: {}
