name: Deploy Stage Env

on:
  push:
    branches:
      - main

jobs:
  call-deploy-workflow:
    uses: ./.github/workflows/deploy-data-plane.yaml
    with:
      acs_environment: stage
      github_environment: stage
      deploy_clusters: "acs-stage-dp-02 acs-stage-eu-01"
      probe_cluster: "acs-stage-dp-02"
