name: Deploy Prod Env

on:
  push:
    branches:
      - production

jobs:
  call-deploy-workflow:
    uses: ./.github/workflows/deploy-data-plane.yaml
    with:
      acs_environment: prod
      github_environment: production
      deploy_clusters: "acs-prod-dp-01"
      probe_cluster: "acs-prod-dp-01"
