name: Emailsender-Central Compatibility Tests

on:
  push:
    branches:
      - main
    paths:
      - 'emailsender/**'
      - 'deploy/charts/emailsender/**'
      - 'scripts/**'
      - '.github/workflows/emailsender-central-compatibility.yaml'

  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'emailsender/**'
      - 'deploy/charts/emailsender/**'
      - 'scripts/**'
      - '.github/workflows/emailsender-central-compatibility.yaml'
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  e2e-test-on-kind:
    timeout-minutes: 45
    name: "Test on kind cluster"
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }} # do not run for PRs from forks
    permissions:
      id-token: write
      contents: read
    environment: development
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Cache go module
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RHACS_ENG_RO_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RO_PASSWORD }}
      - name: Checkout this repository
        uses: actions/checkout@v6
        with:
          path: acs-fleet-manager
          fetch-depth: 0
      - name: Create Kind cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind
      - name: Run Test
        run: acs-fleet-manager/scripts/ci/central_compatibility/entrypoint.sh
      - name: Upload logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: logs-directory-${{ github.sha }}
          path: logs/
          retention-days: 3
