apiVersion: v1
kind: ConfigMap
metadata:
  name: fleet-manager-gitops-config
  namespace: "$ACSCS_NAMESPACE"
data:
  config.yaml: |
    rhacsOperators:

      crdUrls:
        - https://raw.githubusercontent.com/stackrox/stackrox/4.2.1/operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
        - https://raw.githubusercontent.com/stackrox/stackrox/4.2.1/operator/bundle/manifests/platform.stackrox.io_centrals.yaml

      operators:

        - deploymentName: "rhacs-operator-4.2.0-428-g318762a66d"
          image: "quay.io/rhacs-eng/stackrox-operator:4.2.0-428-g318762a66d"
          centralLabelSelector: "rhacs.redhat.com/version-selector=4.2.0-428-g318762a66d"
          securedClusterReconcilerEnabled: false

    centrals:
      overrides:
        - instanceIds:
            - "*"
          patch: |
            # Set label for all centrals to 4.2.0-428-g318762a66d
            metadata:
              labels:
                rhacs.redhat.com/version-selector: "4.2.0-428-g318762a66d"
            # Adjust centrals for development environment
            spec:
              central:
                monitoring:
                  openshift:
                    enabled: false
                resources:
                  limits:
                    cpu: 500m
                    memory: 1Gi
                  requests:
                    cpu: 100m
                    memory: 200Mi
                db:
                  resources:
                    requests:
                      cpu: 100m
                      memory: 200Mi
              scanner:
                analyzer:
                  resources:
                    limits:
                      cpu: 500m
                      memory: 1Gi
                    requests:
                      cpu: 200m
                      memory: 300Mi
                  scaling:
                    autoScaling: "Disabled"
                    replicas: 1
                db:
                  resources:
                    limits:
                      cpu: 10000m
                      memory: 20Gi
                    requests:
                      cpu: 200m
                      memory: 200Mi
